<!DOCTYPE html>
<!-- define our angular app and set the controller -->
<html ng-app="bitcoinCalculator" ng-controller="bitcoinController">
  <head>
    <title>Temporal Picker Predictor and Order Orderer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="http://c4b301d7d229.ant.amazon.com:8800/Chart.js"></script>	
    <script src="http://c4b301d7d229.ant.amazon.com:8800/angular-chart.js"></script>

    <style>
      .number {font-weight: bold;}
    </style>
    <!-- angular module -->
    <script type="text/javascript">
       var bitcoinCalculator = angular.module('bitcoinCalculator', []);
        bitcoinCalculator.controller('bitcoinController', function ($scope, $http, $timeout) {
            //$scope.orderId = parseInt(data["orderId"]);
            //$scope.asinList = data["asinList"]
            $scope.orderId = [];
            $scope.asinList = [];
            $scope.diffs = [];
           	$scope.id_base = 1;
    	    $scope.averagediff = 0;
    	    $scope.averagefirstpack = 0;
            $scope.averagesecondpack =  0;


   	        $scope.makePictureOnServer = function makePictureOnServer () {
   	        	//$compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|file|ftp|blob):|data:image\//);
   	        	/*
   	        	var data = {};
   	        	data["orderId"] = "146547";
   	        	data["asinList"] = []

   	        	var temp = {}
   	        	temp["asin"] = "A1"
   	        	temp["category"] = "Produce"

   	        	data["asinList"].push(temp)

   	        	var temp = {}
   	        	temp["asin"] = "A2"
   	        	temp["category"] = "Laundry"

   	        	data["asinList"].push(temp)

   	        	var temp = {}
   	        	temp["asin"] = "A7"
   	        	temp["category"] = "Laundry"

   	        	data["asinList"].push(temp)

   	            var temp = {}
   	        	temp["asin"] = "A6"
   	        	temp["category"] = "Laundry"

   	        	data["asinList"].push(temp)
   	        	*/
            	$http.get("http://6c4008957040.ant.amazon.com:5002/newOrderDemo").success(function(data3){

	            	 $scope.image =  data3

	       		     });

            	$http.get("http://6c4008957040.ant.amazon.com:5002/newOrderDemo").success(function(data3){

	            	 $scope.image1 =  data3

	       		     });

            }

            function callAtInterval(i) {
             		var diff_item_2 = {}
             		diff_item_2["id"] = $scope.id_base
             		$scope.id_base = $scope.id_base + 1
		            $http.get("http://6c4008957040.ant.amazon.com:5002/newOrder").success(function(data2){
	            	diff_item_2["first"] = data2.originalOrder.TimeToPack;
	            	diff_item_2["second"] = data2.sortedOrder.TimeToPack;
	            	diff_item_2["diff"] = data2.sortedOrder.TimeToPack - data2.originalOrder.TimeToPack;
	           			 });
		            /*
		            $http.post("http://f45c898a33b3.ant.amazon.com:5000/packerSimulator/packOrder", data).success(function(data3){
		            	diff_item_2["second"] = data3.TimeToPack
		       		     });

		       		     */
		            $scope.diffs.push(diff_item_2);
				}

			$scope.clearOrders = function clearOrders() {
    	    	$scope.diffs = []
    	    	$scope.id_base = 1
    	    	populateChart()

			}

			$scope.calculateAverage = function calculateAverage() {
	        	var first_list = []
	        	var second_list = []
	        	var delta_list = []
	    	    for (var i = 0 ; i < $scope.diffs.length ; i ++ )
	    	    {
	    	    	first_list.push($scope.diffs[i]["first"]);
	    	    	second_list.push($scope.diffs[i]["second"]);
    	    		delta_list.push($scope.diffs[i]["second"] - $scope.diffs[i]["first"]);

	    	    }
	    	    // Haaaaaa-aaaack
	    	    var delta_sum = 0;
	    	    var first_sum = 0;
	    	    var second_sum = 0;

	    	    for ( var i = 0 ; i < delta_list.length ; i++) {
	    	    	delta_sum = delta_sum + delta_list[i];
	    	    	first_sum = first_sum + first_list[i];
	    	    	second_sum = second_sum + second_list[i];
	    	    }
	    	    $scope.averagediff = (delta_sum/delta_list.length);
	    	    $scope.averagefirstpack = (first_sum/delta_list.length);
	            $scope.averagesecondpack = (second_sum/delta_list.length);


			}

			function populateChart () {
	        	var index_list = []
	        	var first_list = []
	        	var second_list = []
	        	var delta_list = []

	    	    for (var i = 0 ; i < $scope.diffs.length ; i ++ )
	    	    {
	    	    	index_list.push(i+1);
	    	    	first_list.push($scope.diffs[i]["first"]);
	    	    	second_list.push($scope.diffs[i]["second"]);
    	    		delta_list.push($scope.diffs[i]["second"] - $scope.diffs[i]["first"]);

	    	    }


	        	var ctx = document.getElementById("myChart");
	        	var myChart = new Chart(ctx, {
				    type: 'line',
				    data: {
				        labels: index_list,
				        datasets: [{
				            label: 'Time to Pack First',
				            data: first_list,
				            backgroundColor: [
				                'rgba(175, 100, 100, 0.1)'
				            ],
				            borderColor: [
				                'rgba(175,100,100,1)'
				            ],
				            borderWidth: 1
				        },
				        {
				            label: 'Time to Pack Second',
				            data: second_list,
				            backgroundColor: [
				                'rgba(68, 175, 175, 0.1)'
				            ],
				            borderColor: [
				                'rgba(68,175,175,1)'
				            ],
				            borderWidth: 1
				        }]
				    },
                    display: true,
				    options: {
				        scales: {
				            yAxes: [{
				                ticks: {
				                    beginAtZero:true
				                }
				            }]
				        }
				    }
				});

	        	var ctx = document.getElementById("deltaChart");
	        	var myChart = new Chart(ctx, {
				    type: 'line',
				    data: {
				        labels: index_list,
				        datasets: [{
				            label: 'List of Deltas',
				            data: delta_list,
				            backgroundColor: [
				                'rgba(175, 100, 100, 0.1)'
				            ],
				            borderColor: [
				                'rgba(175,100,100,1)'
				            ],
				            borderWidth: 1
				        }]
				    },
				    options: {
				        scales: {
				            yAxes: [{
				                ticks: {
				                    min: -500,
				                    max: 500
				                },
				                type:'linear',
                                display: true
				            }]
				        }
				    }
				});

			}


            $scope.runSimulation = function() {
            	var delay_interval = 150
            	for (var i = 0 ; i < $scope.testruns ; i++ ) {

		            $timeout(function(){ callAtInterval(); },delay=delay_interval);
		            delay_interval = delay_interval + 300;
	        	}

	        	$timeout(function(){ populateChart(); },delay=150);

	        	if ($scope.testruns <= 25 ){
        			$timeout(function(){ populateChart(); },delay=1000);
        			$timeout(function(){ populateChart(); },delay=6000);
	        	}
	        	else {
		        	for ( var i = 50 ; i < 40000 ; i = i + 5000) {
	        			$timeout(function(){ populateChart(); },delay=i);
	     		   	}
	        	}
	        	if ($scope.testruns > 150) {
		        	$timeout(function(){ populateChart(); },delay=60000);
		        	$timeout(function(){ populateChart(); },delay=70000);
		        	$timeout(function(){ populateChart(); },delay=90000);
		        	$timeout(function(){ populateChart(); },delay=120000);
		        }

            };
          });


    </script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12">
          <h1>Hackathon 2017: Temporal Pick List Order Order Optimizer</h1>
        </div>
      </div>
      <canvas id="myChart" width="100" height="25"></canvas>
      <canvas id="deltaChart" width="100" height="25"></canvas>
      <hr></hr>
      <button ng-click="runSimulation()">Run Simulation</button>
      <input type="text" ng-model="testruns"><br>
            <hr></hr>
      <button ng-click="calculateAverage()">Calculate Averages</button>
      <p></p>
      <p>Average Time Saved: {{averagediff}} Seconds</p>
      <p>Average Order Packing Time (Un-Sorted): {{averagefirstpack}} Seconds</p>
      <p>Average Order Packing Time (Sorted): {{averagesecondpack}} Seconds</p>
      <hr></hr>
      <button ng-click="clearOrders()">Clear Orders</button>

      <div class="row">
        <div class="col-sm-7">
          <br><br>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Run Number</th>
                <th>Unsorted Time</th>
                <th>Sorted Time</th>
                <th>Difference</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="asin in asinList">
              <td>{{asin.category}}</td>
                  <td>{{asin.category}}</td>
                 <td>{{asin.asin}}</td>
              </tr>
              <tr ng-repeat="diff in diffs">
            	  <td>{{diff.id}}</td>
                  <td>{{diff.first}}</td>
                 <td>{{diff.second}}</td>
                 <td>{{diff.diff}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
                  <hr></hr>
        <button ng-click="makePictureOnServer()">Show Demo Picture</button>
        <img ng-src="data:image/PNG;base64,{{image}}">
        <img ng-src="data:image/PNG;base64,{{image1}}">
    </div>

  </body>
</html>
